.game-board {
  max-width: 600px;
  max-height: 700px;
  display: none;
  position: relative;
  z-index: -1;
  opacity: 0.2;
}

.game-message-text {
  text-align: center;
  font-family: 'Architects Daughter', cursive;
  font-size: 3em;
}

.game-cell {
  text-align: center;
  border-width: 15px;
}

.game-cell-text {
  font-family: 'Architects Daughter', cursive;
  font-size: 7em;
}

#game-cell-0-0 {
  border-bottom-style: solid;
  border-right-style: solid;
}

#game-cell-1-0 {
  border-bottom-style: solid;
  border-right-style: solid;
}

#game-cell-2-0 {
  border-bottom-style: solid;
}

#game-cell-0-1 {
  border-bottom-style: solid;
  border-right-style: solid;
}

#game-cell-1-1 {
  border-bottom-style: solid;
  border-right-style: solid;
}

#game-cell-2-1 {
  border-bottom-style: solid;
}

#game-cell-0-2 {
  border-right-style: solid;
}

#game-cell-1-2 {
  border-right-style: solid;
}

.player-info {
  display: none;
  opacity: 0.2;
  z-index: -1;
  position: relative;
}

.player-name-label-text {
  font-family: 'Architects Daughter', cursive;
  font-size: 1.5em;
}

.player-name-text {
  font-family: 'Architects Daughter', cursive;
  font-size: 1.5em;
}

.player-wincount-label-text {
  font-family: 'Architects Daughter', cursive;
  font-size: 1.5em;
}

.player-wincount-text {
  font-family: 'Architects Daughter', cursive;
  font-size: 1.5em;
}

.player-losscount-label-text {
  font-family: 'Architects Daughter', cursive;
  font-size: 1.5em;
}

.player-losscount-text {
  font-family: 'Architects Daughter', cursive;
  font-size: 1.5em;
}

.player-info-row {
  border-bottom-style: solid;
  vertical-align: middle;
  margin-top: 25px;
}

.player-registration-dialog {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.player-registration-dialog-popup {
  border-style: solid;
  opacity: 1;
  background-color: white;
  box-shadow: 5px 5px 100px #000;
}

.player-registration-dialog-popup-inner-pane {
  margin: 50px;
}

.player-registration-dialog-text {
  font-family: 'Architects Daughter', cursive;
  font-size: 1em;
}

.player-registration-dialog-input {
  font-family: 'Architects Daughter', cursive;
  font-size: 0.8em;
}

.player-registration-dialog-button {
  font-family: 'Architects Daughter', cursive;
  background-color: white;
}

.player-registration-dialog-button-cell {
  margin-top: 25px;
}

.player-registration-dialog-title {
  font-family: 'Architects Daughter', cursive;
}

.player-registration-dialog-error {
  display: none;
}

.player-registration-dialog-error-text {
  font-family: 'Architects Daughter', bold;
  color: #ff0000;
}

.loading-overlay {
  display: none;
  background-color: #000000;
  opacity: 0.8;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
}

@keyframes logo-fade {
  from {opacity: 0.1;}
  to {opacity: 1};
}

.loader-logo {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 4;
  transform: translate(-50%, -50%);
  animation: logo-fade 1.5s infinite alternate;
}

.loader-logo img {
  z-index: 50;
  filter: drop-shadow(0px 0px 80px #FFFFFF);
}

.loader-text {
  font-family: 'Architects Daughter', bold;
  font-size: 1.8em;
  color: #ffffff;
  opacity: 0.6;
  text-align: center;
}

.new-game-pane {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.new-game-pane p {
  font-family: 'Architects Daughter', bold;
  font-size: 3em;
  margin: 50px;
}

.new-game-pane a {
  color: #000;
  text-decoration-line: none;
}

.new-game-pane a:hover {
  text-shadow: 3px #000;
  filter: drop-shadow(0px 0px 100px #000);
}

.new-game-pane img {
  margin-top: 100px;
  animation: logo-fade 1.5s infinite alternate;
}

.queued-game-pane {
  display: none;
  text-align: center;
}

.queued-game-pane-inner {
  border-style: solid;
  box-shadow: 5px 5px 100px #000;
}

.queued-game-pane p {
  font-family: 'Architects Daughter', bold;
  font-size: 3em;
  margin-top: 50px;
}

.queued-game-pane img {
  margin-top: 50px;
}

.opponent-info {
  display: none;
  opacity: 0.2;
  z-index: -1;
  position: relative;
}

.opponent-info p {
  font-family: 'Architects Daughter', cursive;
  font-size: 1.5em;
}

.opponent-info-row {
  border-top-style: solid;
  vertical-align: middle;
  margin-bottom: 25px;
}
